.heroesBox__title {

    font-size: 32px;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 0;
    text-decoration: none;
    color: black;


}

.heroesBox__title:hover {
    color: rgb(48, 48, 48);


}