.heroesBox__title {
    font-size: 32px;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 0;
    text-decoration: none;
    color: black;
}

.heroesBox__title:hover {
    color: rgb(48, 48, 48);
<<<<<<< HEAD
=======


>>>>>>> 00089aa49e57685cca150e2c623eec135879d9d0
}