.modal__backdrop2 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: opacity 0.2s ease-in;
}

.modal__content2 {
    position: relative;
    width: auto;
    margin: 10px;
    transition: opacity 0.3s ease-in;
    display: flex;
    flex-direction: column;
    background-clip: padding-box;
    background-image: url('../../images/card/bigfon.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid white;
    border-radius: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.21vw;
    font-weight: 500;
}

@media (min-width: 576px) {
    .modal__content2 {
        max-width: 500px;
        margin: 50px auto;
    }
}

.modal__show2 .modal__backdrop2,
.modal__show2 .modal__content2 {
    opacity: 1;
    z-index: 1050;
    pointer-events: auto;
    overflow-y: auto;
}



.modal__btn-close2 {
    padding-left: 95%;
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    text-decoration: none;
}

.modal__body2 {
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 8%;
    display: grid;
    width: 80%;
    height: 75vh;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%;
    column-gap: 5%;
    ;
    overflow: hidden;
}

.modal__footer2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;

}

.btn__cancel2 {

    width: 20%;
    height: 5vh;
    background-color: #DE9E15;
    border-width: 0;
    border-radius: 12px;
    color: white;
    font-weight: 400;
}