@import "./commentsBox/commentsBox.scss";
@import "./__block/_block";
@import "./__form/_form";
@import "./__button/_button";
@import "./__result/_result";
.comments {
    background: #1D1D1F;
}

.comments__result {
    display: flex;
    flex-direction: column;
}