.comments__result-item>div {
    width: 85vh;
    height: 7rem;
    background-color: white;
    opacity: 0.8;
    border-radius: 27px;
}

.comments__photo {
    display: block;
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
}

.comments__name {
    font-size: 25px;
    margin: 1vh 0 0 12vh;
}

.comments__content {
    font-size: 23px;
    margin: 2vh 0 0 12vh;
}

.comments__time {
    display: block;
    font-size: 15px;
    margin: 3vh 0 0 70vh;
}