.comments__result-item>div {
    width: 85vh;
    height: 102px;
    background-color: white;
    opacity: 0.8;
    border-radius: 27px;
    padding: 1vh;
    margin-bottom: 5px;
}

.comments__photo {
    display: block;
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
}

.comments__name {
    display: inline-block;
    position: relative;
    font-size: 25px;
    top: -30px;
    left: 15px;
}

.comments__content {
    display: block;
    position: relative;
    font-size: 23px;
    margin: -47px 0 0 80px;
    max-width: 80vh;
    max-height: 5vh;
    overflow: auto;
}

.comments__time {
    display: block;
    font-size: 15px;
    margin: 2vh 0 0 70vh;
}

.comments__result-btn {
    display: none;
    width: 52px;
    height: 52px;
    margin-top: 2vh;
    border-radius: 40px;
    background-color: black;
}

#btnEnd {
    margin-left: 120vh;
    transform: rotate(-90deg);
}

#btnStart {
    margin-left: 35vh;
    transform: rotate(90deg);
}