.comments__result-item>div {
    width: 85vh;
    height: 102px;
    background-color: white;
    opacity: 0.8;
    border-radius: 27px;
    padding: 1vh;
    margin-bottom: 5px;
}

.comments__photo {
    display: block;
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
}

.comments__name {
    display: inline-block;
    position: relative;
    font-size: 25px;
    top: -30px;
    left: 15px;
}

.comments__content {
    display: block;
    position: relative;
    font-size: 23px;
    margin: -47px 0 0 80px;
    max-width: 80vh;
    max-height: 5vh;
    overflow: auto;
}

.comments__time {
    display: block;
    font-size: 15px;
    margin: 2vh 0 0 70vh;
}

.comments__result-btn {

    display: none;
    width: 40px;
    height: 56px;
    margin-top: 2vh;
    border: none
}

#btnEnd {

    border-radius: 20%;
    margin-left: 110vh;
    transform: rotate(90deg);
    background: url('../../images/mainpage/arrayBlueR.svg')no-repeat;
}

#btnStart {
    margin-left: 150vh;
    transform: rotate(90deg);
    background: url('../../images/mainpage/arrayBlueL.svg')no-repeat;
}

#btnEnd:hover {
    transform: rotate(90deg);
    background: url('../../images/mainpage/arrayLeft.svg')no-repeat;
}

#btnStart:hover {
    transform: rotate(90deg);
    background: url('../../images/mainpage/arrayRight.svg')no-repeat;

}