.gallery {
    border-top: 1px solid white;
    background: url('../../images/mainpage/flash.svg') 1% -13% no-repeat fixed,
        url('../../images/mainpage/flash.svg') 50% 23% no-repeat fixed,
        url('../../images/mainpage/flash.svg') 112% 15.5% no-repeat fixed,
        url('../../images/mainpage/flash.svg') 24% 72.2% no-repeat fixed,
        url('../../images/mainpage/flash.svg')69% 70% no-repeat fixed,
        url('../../images/mainpage/gray.svg') 30% 66% no-repeat fixed;
    background-size: 30%, 18%, 22%, 6.5%, 10%, 100%;
}