.galleryText_size {

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;

}


.galleryText_sizeHover {

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;

}

.galleryText_size:hover {
    color: #DE9E15;
    text-decoration: none;
}