@import "./__btn/heroesBox__btn.scss";
@import "./__card/heroesBox__card.scss";
@import "./__title/heroesBox__title.scss";
@import "./__card/imgHover.scss";

.heroesBox {
    height: 80vh;
    padding: 7em;
    box-sizing: border-box;

}