.slick-track {
    display: flex;
    height: 20em;
}

.slick-list {
    overflow: hidden;
    margin: auto;
}

.slider {
    position: relative;
    padding: 0 8%;


}

.slider .slick-arrow {
    position: absolute;
    top: 32%;
    z-index: 10;
    font-size: 0;
    width: 40px;
    height: 40px;
    border: none;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}

.slick-prev {

    left: -1%;
    background: url('../../images/mainpage/arrayRight.svg')0 0 /100% no-repeat;
}

.slick-prev:hover {
    background: url('../../images/mainpage/arrayBlueL.svg');

}

.slick-next {
    right: -1%;
    background: url('../../images/mainpage/arrayLeft.svg')0 0 /100% no-repeat;
}

.slick-next:hover {
    background: url('../../images/mainpage/arrayBlueR.svg');
}

.slider__item {
    text-align: center;
    max-width: 100%;

}

.slick-dots {
    text-align: center;
    display: flex; // поставить кнопки в ряд
    justify-content: center; // выровнять по центру
    list-style: none;


}

.slick-dots li[class="slick-active"] button {
    height: 12px; // высота точки
    width: 12px;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: transparent;

    border: none;
    background-color: #c4c4c4;
    padding: 0;
    margin: 3px;
}