/* Error: expected "{".
 *    ,
 * 16 | >>>>>>> 00089aa49e57685cca150e2c623eec135879d9d0
 *    |                                                 ^
 *    '
 *   assets\styles\scss\blocks\heroesBox\__title\heroesBox__title.scss 16:49  @import
 *   assets\styles\scss\blocks\heroesBox\heroesBox.scss 3:9                   @import
 *   assets\styles\scss\style.scss 7:9                                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 16 \2502  >>>>>>> 00089aa49e57685cca150e2c623eec135879d9d0\d\a    \2502                                                  ^\a    \2575 \a   assets\\styles\\scss\\blocks\\heroesBox\\__title\\heroesBox__title.scss 16:49  @import\a   assets\\styles\\scss\\blocks\\heroesBox\\heroesBox.scss 3:9                   @import\a   assets\\styles\\scss\\style.scss 7:9                                        root stylesheet';
}
